.contacts {
  height: 100vh;
  background: url("../images/contacts-bg.jpg") center no-repeat
    var(--bgTransparent);
  background-size: cover;
  background-blend-mode: overlay;
}

.contacts__box {
  height: 100%;
}

.contacts__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__block {
  background: var(--bg);
  padding: 60px 40px;
  border-radius: 25px;
  display: grid;
  gap: 40px;
}

.contacts__title {
  display: flex;
  gap: 16px;
}

.contacts__cube {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--btn);
  rotate: 45deg;
  border-radius: 4px;
  animation: rotateCube 6s linear infinite;
  transition:
    border-bottom 0.1s linear 0s,
    border-right 0.1s linear 0.1s,
    border-top 0.1s linear 0.2s,
    border-left 0.1s linear 0.3s;
}

.contacts__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: start;
  gap: 20px;
}

.contacts__form-btn {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__form-logo {
}

.contacts__form-vk {
}

.contacts__form-tg {
}

@keyframes rotateCube {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .contacts__cube:hover {
    border: 2px solid var(--btnHover);
  }
}

@media screen and (max-width: 800px) {
  .contacts__form-btn > .btn-content {
    grid-template-columns: 30px;
  }

  .contacts__form-btn {
    padding: 12px 24px;
  }

  .contacts__form-btn-text {
    display: none;
  }

  .contacts__cube {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .contacts {
    margin-top: 40px;
  }

  .contacts__block {
    width: 80%;
    border-radius: 14px;
    padding: 30px 20px;
  }

  .contacts__title {
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 310px;
  }
}

@media screen and (max-width: 600px) {
  .contacts__form {
    gap: 12px;
  }

  .contacts__block {
    gap: 20px;
  }

  .contacts__title {
    max-width: 310px;
  }

  .contacts__form-btn {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 500px) {
  .contacts__block {
    width: 100%;
  }
}
